@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}

.themShadow {
  box-shadow: 0px 0px 2px 1px rgb(190, 190, 190);
  border: yellow;
}

.themLightShadow {
  box-shadow: 0px 0px 2px 2px rgb(252, 252, 142);
  border: yellow;
}

.heroName {
  transform: translateX(100%);
  animation: heroName 2s forwards;
}

@keyframes heroName {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.imageAnimate {
  transform: scale(1);
  opacity: 1;
  animation: imageAnimate 5s infinite linear;
}
@keyframes imageAnimate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.topLogoLeft {
  scale: 0.7;
  animation: topLogoLeft 5s infinite linear;
}
@keyframes topLogoLeft {
  50% {
    scale: 1;
  }
}
.topLogoRight {
  scale: 1;

  animation: topLogoRight 5s infinite linear;
}
@keyframes topLogoRight {
  50% {
    scale: 0.7;
  }
}

.topLogoMiddle {
  scale: 1;
  animation: topLogoMiddle 5s infinite linear;
}
@keyframes topLogoMiddle {
  50% {
    scale: 0.8;
  }
  100% {
    rotate: 360deg;
  }
}

.sparklingRight {
  scale: 1;
  animation: sparklingRight 5s infinite linear;
}
@keyframes sparklingRight {
  50% {
    scale: 2;
  }
}

.sparklingLeft {
  scale: 2;
  animation: sparklingLeft 5s infinite linear;
}
@keyframes sparklingLeft {
  50% {
    scale: 1;
  }
}
.logoShadow {
  box-shadow: 0px 0px 5px 5px rgb(238, 247, 238);
}
.whiteShadow {
  box-shadow: 0px 0px 20px 5px rgba(184, 184, 184, 0.236);
}
/* .serviceWhiteShadow {
  box-shadow: 0px 0px 20px 5px rgba(156, 156, 156, 0.236);
} */
.appCardShadow {
  box-shadow: 0px 0px 15px 5px #9b9b9b82;
}

.appCardBorder {
  border: 7px #101010 solid;
}
.appCardBorder:hover {
  border: 7px red solid;
  transition: all;
  animation: appCardBorderHover 3s linear infinite;
}

@keyframes appCardBorderHover {
  0% {
    border: 7px red solid;
  }
  50% {
    border: 7px blue solid;
  }
}

.appCardBorder:hover span {
  background: red;
  transition: all;
  animation: appCardBgHoverSpan 3s linear infinite;
}
@keyframes appCardBgHoverSpan {
  0% {
    background: red;
  }
  50% {
    background: blue;
  }
}

.nodeLogo {
  transform: translateY(10);
  animation: nodeLogo 5s infinite linear;
}
@keyframes nodeLogo {
  50% {
    transform: translateY(-10);
  }
}

.mongoLogo {
  transform: translateY(-10);
  animation: mongoLogo 7s infinite linear;
}
@keyframes mongoLogo {
  50% {
    transform: translateY(10);
  }
}

.nodeLogoSmall {
  transform: translateY(5);
  animation: nodeLogoSmall 6s infinite linear;
}
@keyframes nodeLogoSmall {
  50% {
    transform: translateY(-5);
  }
}

.mongoLogoSmall {
  transform: translateY(-5);
  animation: mongoLogoSmall 4s infinite linear;
}
@keyframes mongoLogoSmall {
  50% {
    transform: translateY(5);
  }
}
.skillCardBg {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.301),
    rgba(0, 0, 255, 0.301)
  );

  animation: moveBg 7s infinite linear;
}

@keyframes moveBg {
  50% {
    filter: hue-rotate(180deg);
  }
}

.skillBg {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.125),
    rgba(255, 255, 255, 0.205)
  );
}

.skillScale1 {
  scale: 1;
  animation: skillScale1 5s infinite linear;
}
@keyframes skillScale1 {
  50% {
    scale: 1.1;
  }
}
.skillScale2 {
  scale: 1.1;
  animation: skillScale2 5s infinite linear;
}
@keyframes skillScale2 {
  50% {
    scale: 1;
  }
}

.skillTranslate1 {
  transform: translateX(5px);
  animation: skillTranslate1 5s infinite linear;
}
@keyframes skillTranslate1 {
  50% {
    transform: translateX(-5px);
  }
}
.skillTranslate2 {
  transform: translateX(-5px);
  animation: skillTranslate2 5s infinite linear;
}
@keyframes skillTranslate2 {
  50% {
    transform: translateX(5px);
  }
}
.skillImage {
  animation: skillImage 5s linear infinite;
}
@keyframes skillImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animatedShadow {
  box-shadow: 0px 0px 5px 5px rgba(148, 148, 148, 0.1);
  animation: animatedShadow 3s infinite linear;
}
@keyframes animatedShadow {
  50% {
  box-shadow: 0px 0px 5px 5px rgba(148, 148, 148, 0.1);
  }
}

.about {
  background: radial-gradient(
    circle,
    rgba(138, 147, 186, 0.181),
    rgba(252, 252, 252, 0.224)
  );
  animation: about 5s infinite linear;
}
@keyframes about {
  50% {
    filter: hue-rotate(360deg);
  }
}

.portfolioBox {
  scrollbar-width: none;
}
.detailsScroll {
  scrollbar-width: none;
}

.animateText {
  background: linear-gradient(45deg, red, orange, tomato, yellow, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateText 5s infinite linear;
}
@keyframes animateText {
  50% {
    filter: hue-rotate(360deg);
  }
}

.serviceIcon {
  color: rgb(255, 208, 0);
  scale: 1;
  animation: serviceIcon 5s infinite linear;
}
@keyframes serviceIcon {
  50% {
    scale: 1.5;
  }
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 0.6;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 0.6s linear;
}

.aboutPara1 {
  animation: aboutPara1 1s;
}
@keyframes aboutPara1 {
  0% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0%);
  }
}

.aboutPara2 {
  animation: aboutPara2 1s;
}
@keyframes aboutPara2 {
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0%);
  }
}

.aboutPara3 {
  animation: aboutPara3 1s;
}
@keyframes aboutPara3 {
  0% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0%);
  }
}

.aboutPara4 {
  animation: aboutPara4 1s;
}
@keyframes aboutPara4 {
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0%);
  }
}

.textColor {
  color: #00196a;
}

.messageBtn {
  transform: translateX(-250%);
  animation: messageBtn 1s forwards;
}
@keyframes messageBtn {
  0% {
    transform: translateX(-250%);
  }
  80% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* .mainSection {
  background-image: url("../public/coding-image-2.jfif");
  background-repeat: no-repeat;
  background-size: cover;
} */

.starAnimation {
  scale: 1;
  animation: starAnimation 1s infinite linear;
}
@keyframes starAnimation {
  50% {
    scale: 2;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fadeIn 0.4s ease forwards;
}

.slider {
  position: relative;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  animation: rotateStyle 10s linear infinite;
  transform: rotateX(-30deg);
}
@keyframes rotateStyle {
  0% {
    transform: perspective(1000px) rotateX(-20deg) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateX(-20deg) rotateY(360deg);
  }
}

.slider span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(150px);
}

@media (min-width: 600px) {
  .slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);
  }
}
/* @media (max-width: 900px) {
  .slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(200px);
  }
} */

.slider span Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
  transition: 2s;
}

.lightBg {
  background: red;
}

.appDevTranslation {
  transform: translateX(0%);
  animation: appDevTranslation 5s linear infinite;
}
@keyframes appDevTranslation {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(100%);
  }
}
.webDevTranslation {
  transform: translateX(100%);

  animation: webDevTranslation 5s linear infinite;
}
@keyframes webDevTranslation {
  0% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(0%);
  }
  70% {
    transform: translateX(100%);
  }
}
